		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>About Us</h2>
								<p>Loom Laundry offers premium dry cleaning and laundry services with hassle-free pickup & delivery, and affordable pricing. </p>
								<!-- Social -->
								<ul class="social">
									<li><a href="https://www.instagram.com/loom.laundry/"><i class="icofont-instagram"></i></a></li>
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="https://wa.me/+918799749101"><i class="icofont-whatsapp"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Quick Links</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="laundry-dry-cleaning-noida-ghaziabad.html"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
											<li><a href="laundry-dry-cleaning-noida-ghaziabad.html#about-id"><i class="fa fa-caret-right" aria-hidden="true"></i>About</a></li>
											<li><a href="laundry-dry-cleaning-noida-ghaziabad.html#service-id"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
											<li><a href="laundry-drycleaning-price-noida-ghaziabad.html"><i class="fa fa-caret-right" aria-hidden="true"></i>Price</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="fabric-care-laundry-tips-noida-ghaziabad.html"><i class="fa fa-caret-right" aria-hidden="true"></i>Blogs</a></li>
											<li><a href="contact.html"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
											<li><a href="laundry-dry-cleaning-noida-ghaziabad.html#book-id"><i class="fa fa-caret-right" aria-hidden="true"></i>Book Now</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>						
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Open Hours</h2>
								<p>We’re open all week to keep your clothes clean and fresh! </p>
								<ul class="time-sidual">
									<li class="day">Monday - Sunday <span>8.00-21.00</span></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Newsletter</h2>
								<p>Subscribe to our newsletter for exclusive discounts, laundry tips, and the latest updates. Stay fresh with Loom Laundry! </p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Your email address'" required="" type="email">
									<button class="button"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Copyright 2025  |  All Rights Reserved by <a href="https://www.loomlaundry.com" target="_blank">loomlaundry.com</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->