		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="laundry-dry-cleaning-noida-ghaziabad.html#about-id">About</a></li>
								<li><a href="laundry-dry-cleaning-noida-ghaziabad.html#service-id">Services</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+91 87997 49101</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@loomlaundry.com">support@loomlaundry.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="laundry-dry-cleaning-noida-ghaziabad.html"><img src="img/logo.svg" width="189" height="38" alt="Logo"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="#">Home</a>
												<!-- <ul class="dropdown">
													<li><a href="laundry-dry-cleaning-noida-ghaziabad.html">Home Page 1</a></li>
												</ul> -->
											</li>
											<li><a href="laundry-dry-cleaning-noida-ghaziabad.html#about-id">About </a></li>
											<li><a href="laundry-dry-cleaning-noida-ghaziabad.html#service-id">Services </a></li>
											<li><a href="laundry-drycleaning-price-noida-ghaziabad.html">Price</a>
												<!-- <ul class="dropdown">
													<li><a href="404.html">404 Error</a></li>
												</ul> -->
											</li>
											<li><a href="fabric-care-laundry-tips-noida-ghaziabad.html">Blogs</a>
												<ul class="dropdown">
													<ul class="dropdown" id="blog-menu-list"></ul>
												</ul>
											</li>

											<li><a href="contact.html">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="laundry-dry-cleaning-noida-ghaziabad.html#book-id" class="btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->