.price-card {
    background: #f8f9fa;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
.price-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
.price-card i.icon {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}
.price-card h5 {
    font-size: 14px;
}
.price-card p {
    font-size: 14px;
    color: #007bff;
}


/* .price-card {
    background: #f8f9fa;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    height: 150px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
.price-card i.icon {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}
.price-card h5 {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; 
}
.price-card p {
    font-size: 14px;
    color: #007bff;
    margin: 0;
} */
